<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>机器人配置</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <script src="../static/js/register.js" type="text/javascript"></script>
 
</head>
<body>
<div class="login-box">
    <h2>合约管家</h2>
    <form action="/register" enctype="multipart/form-data" method="post">
        <div class="login-field">
            <span style="color: aqua; size: 12px">配置完成</span>
    </form>
</div>
</body>
</html>